mat-card {
	/* width: 80%;*/
	margin: auto;
	padding: 20px;
}
mat-form-field,
textarea {
	width: 100%;
}
button {
	margin-top: 1rem;
	width: 15%;
}
::ng-deep .mat-card{
  background-color: #000;
}

input[type="file"]
{
	visibility: hidden;
}

.image-preview
{
	height: 6rem;
	margin: 1rem 0;
}

.image-preview img
{
	height: 100%;
	width: 10%;
	border-radius: 50%;
}

